html {
  font-size: 1.125rem;
}

h1 {
  padding: 0.3rem 0;
  background-color: #303133;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #fff;
}

h1 .highlight {
  color: #BCB967;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  min-height: 100vh;
  padding: 0 5%;
  background: linear-gradient(to bottom, #3B3142, #1D1721);
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.Fetching-sign{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;

}

.App-playlist {
  display: block;
}

.feedback {
  display: flex;
  padding: .33rem 0rem 0rem .5rem;
  background-color: #303136;
  color: white;

  text-decoration: none;
  font-size: .9rem;

}

.feedback:hover {
  color: grey;
}

.Header{
  background-color: #303133;

}

@media only screen and (min-width: 1020px) {
  .App-playlist {
    display: flex;
    justify-content: space-between;
  }
}

